# -------------------------
# System / IDE
# -------------------------
.DS_Store
.idea/
__pycache__/
*.py[cod]

# -------------------------
# Ignore EVERYTHING inside outputs
# -------------------------
**/outputs/**
!**/outputs/
!**/outputs/*.py
!**/outputs/.gitkeep

# -------------------------
# Ignore EVERYTHING inside data
# -------------------------
**/data/**
!**/data/
!**/data/*.py
!**/data/.gitkeep

# -------------------------
# KEEP auxiliaries (including CSVs)
# -------------------------
!**/auxiliaries/
!**/auxiliaries/**.env
/.env
